.profile-cover-photo-container {
  background-color: lightgray;
  background-size: cover;
  cursor: pointer;
  height: 448px;
  position: relative;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
  }

  .cover-photo-upload {
    display: none;
  }

  button {
    bottom: 16px;
    position: absolute;
    right: 16px;
  }
}