@import "../../../../styles/mixins";

mat-toolbar {
  margin-bottom: 64px;

  mat-toolbar-row {
    align-items: center;
    display: flex;
    justify-content: space-between;

    img {
      height: 50%;
    }

    .large-navbar-search {
      @include lg {
        display: none;
      }
    }

    .navbar-icons-container {
      mat-icon {
        cursor: pointer;
        font-size: 28px;
        height: auto;
        margin-right: 16px;
        width: auto;
      }

      .navbar-profile-container {
        background-color: gray;
        border-radius: 100%;
        height: 48px;
        width: 48px;
      }
    }
  }

  .small-navbar-container {
    display: none;

    navbar-search {
      width: 100%;
    }
  }

  .show-small-navbar {
    display: inline;
  }
}