<mat-toolbar class="base-container">
  <mat-toolbar-row>
    <img src="assets/logo.png" />

    <navbar-search class="large-navbar-search" loggedIn></navbar-search>

    <div class="navbar-icons-container" loggedIn>
      <mat-icon (click)="toggleSmallNavbar()">search</mat-icon>
      <div class="navbar-profile-container"></div>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="small-navbar-container" [class.show-small-navbar]="showSmallNavbar">
    <navbar-search></navbar-search>
  </mat-toolbar-row>
</mat-toolbar>