.reset-password-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;

  .reset-password-form-container {
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    height: auto;
    padding: 32px;
    width: 400px;

    &-header {
      align-items: center;
      display: flex;
      flex-direction: column;

      h3 {
        color: lightgray;
      }
    }

    &-error {
      text-align: center;
    }

    form {
      mat-form-field {
        width: 100%;
      }

      .reset-password-form-submit {
        color: green;
        text-align: center;
      }
    }

    &-footer {
      display: flex;
      justify-content: end;
    }

    .reset-password-error {
      border-color: red;
    }
  }
}