<div class="reset-password-container" *ngrxLet="error$; let error">
  <mat-card class="reset-password-form-container" [class.reset-password-error]="error">
    <div class="reset-password-form-container-header">
      <h3>Bitte geben Sie Ihr neues Passwort ein.</h3>
      <h1>Passwort zurücksetzen</h1>
    </div>

    <div class="reset-password-form-container-error" *ngIf="error">
      <mat-error>
        Der Link in Ihrer Email um das Passwort zurückzusetzen ist ungültig. <br />
        Bitte fordern Sie erneut eine E-Mail an.
      </mat-error>
    </div>

    <form [formGroup]="resetPasswordForm">
      <mat-form-field>
        <mat-label>Passwort</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="passwordControl.hasError('required')">Bitte geben Sie ein Passwort an.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Passwort wiederholen</mat-label>
        <input matInput type="password" formControlName="passwordRepeat">
        <mat-error *ngIf="passwordRepeatControl.hasError('required')">Bitte geben Sie ein Passwort an.</mat-error>
        <mat-error *ngIf="hasInvalidPassworRepeatError">
          Bitte geben Sie das gleiche Passwort ein.
        </mat-error>
      </mat-form-field>

      <mat-error *ngIf="error">{{ error.error.message }}</mat-error>
      <div class="reset-password-form-submit" *ngIf="!error && showRedirectToLogin">
        <mat-hint>
          Das Passwort wurde erfolgreich geändert. <br />
          Sie können sich nun mit Ihrem geänderten Passwort anmelden.
        </mat-hint>
      </div>
    </form>

    <div class=" reset-password-form-container-footer">
      <button *ngIf="!showRedirectToLogin" mat-flat-button color="primary" (click)="resetPassword()"
        [disabled]="resetPasswordForm.invalid">
        Passwort speichern
      </button>
      <button mat-flat-button color="primary" [routerLink]="['/login']" *ngIf="!error && showRedirectToLogin">
        Login
      </button>
    </div>

  </mat-card>
</div>