<div class="forgot-password-container" *ngrxLet="error$; let error">
  <div class="forgot-password-form-container">
    <div class="forgot-password-form-container-header">
      <h3>Bitte geben Sie Ihre E-Mail Adresse ein.</h3>
      <h1>Passwort vergessen</h1>
    </div>

    <form [formGroup]="forgotPasswordForm">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="emailFormControl.hasError('required')">Bitte geben Sie Ihre E-Mail an.</mat-error>
        <mat-error *ngIf="emailFormControl.hasError('email')">
          Bitte geben Sie Ihre E-Mail im richtigen Format an.
        </mat-error>
        <mat-hint class="send-reset-password-form-submit" *ngIf="!hideSendMailHint">
          Es wurde erneut eine E-Mail an {{ emailFormControl.value }} gesendet um das Passwort zurückzusetzen.
        </mat-hint>
      </mat-form-field>

      <mat-error *ngIf="error">{{ error.error.message }}</mat-error>
    </form>

    <div class="forgot-password-form-container-footer">
      <button mat-flat-button color="primary" (click)="sendResetPasswordMail()"
        [disabled]="forgotPasswordForm.invalid">Passwort zurücksetzen</button>
    </div>
  </div>
</div>