.confirm-registration-container {
  align-items: center;
  display: flex;
  height: calc(100vh - 256px);
  justify-content: center;

  &-inner {
    border-radius: 10px;
    height: auto;
    padding: 32px;
    width: 500px;
  }

  .confirm-registration-error {
    border-color: red;
  }
}