<div class="profile-picture-container" fxLayout fxLayoutGap="64px">
  <div class="profile-picture-wrapper" *ngrxLet="profilePicture$ as profilePicture">
    <div class="profile-picture" fxLayout fxLayoutAlign="end end">
      <img *ngIf="profilePicture" [src]="profilePicture" />

      <input type="file" class="profile-picture-upload" (change)="onProfilePictureSelected($event)"
        #profilePictureUpload />
      <mat-icon (click)="profilePictureUpload.click()">photo_camera</mat-icon>
    </div>
  </div>

  <div class="profile-picture-action-container" fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="column">
      <h3>{{ profile?.user?.firstName }} {{ profile?.user?.lastName }}</h3>
      <span>133 Follower</span>
    </div>

    <button mat-raised-button (click)="openEditProfileDialog()" color="primary">Profil
      bearbeiten</button>
  </div>
</div>