.profile-picture-container {
  width: 100%;

  .profile-picture-wrapper {
    background-color: white;
    border-radius: 100%;
    cursor: pointer;
    height: 192px;
    padding: 8px;
    width: 192px;

    img {
      border-radius: 100%;
      height: 100%;
      width: 100%;
    }

    .profile-picture {
      border-radius: 100%;
      background-color: lightgray;
      height: 100%;
      position: relative;
      width: 100%;

      .profile-picture-upload {
        display: none;
      }

      mat-icon {
        background: white;
        border-radius: 100%;
        padding: 8px;
        position: absolute;
        right: 16px;
      }
    }
  }

  .profile-picture-action-container {
    margin-top: 112px;
    width: calc(100% - 256px);

    h3 {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 8px;
    }

    span {
      color: gray;
      font-style: italic;
    }
  }
}