<div class="profile-container" *ngrxLet="profile$ as profile">
  <ng-container *ngIf="profile">
    <profile-header [profile]="profile"></profile-header>
  </ng-container>

  <div class="profile-content-container base-container" fxLayout="row" fxLayoutGap="64px">

    <div fxFlex="30" fxLayout="column" fxLayoutGap="32px">
      <profile-description [profile]="profile"></profile-description>
      <profile-follower></profile-follower>
    </div>

    <div fxFlex="70">
      <profile-news></profile-news>
    </div>

  </div>
</div>