mat-card {
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(63, 81, 181, 1) 700%);
  height: 608px;
  margin-bottom: 64px;
  padding: 0 64px;
  width: 100%;

  profile-picture {
    bottom: 16px;
    left: 80px;
    padding-left: 48px;
    position: absolute;
    width: calc(100% - 208px);
  }
}